@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
/* normalise */

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: none;
}

body [class*="dark:"] {
  @apply transition-colors duration-200;
}
